 body {
    background-color: #012169;
    font-family: Arial, sans-serif;
}

.Main {
    background-color: #eee;
    padding: 18px;
    text-align: center;
    margin: 0 auto;
    max-width: 825px;
}

.Main h1 {
    margin: 0;
    color: #C8102E;
}

.Main a {
    text-decoration: none;
    color:#C8102E;
}

.Main a:hover {
    color: #012169;
}

.content {
    background-color: #EEEEEE;
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
}

.content p {
    text-align: center;
    color: #C8102E;
}

.content p span{
    text-align: center;
    color: #C8102E;
    font-style: italic;
}

.content h2 {
    color: #C8102E;
    text-align: center;
}

.content h5 {
    text-align: end;
    font-weight: 100;
    font-style: italic;
}

.content ul {
    list-style-type: none;
    text-align: center;
}

.content li {
    display: inline;
}

.content a {
    text-decoration: none;
    color: #C8102E;
    font-weight: bold;
}

.content a:hover{
    color:#012169;
    font-weight: bold;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.navbar ul{
    list-style-type: none;
    background-color: #EEEEEE;
    padding: 0px;
    margin-right : 205px;
    margin-left: 205px;

}

.navbar a{
    color: #C8102E;
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color:#012169;
    color: #eee;
}